#header_logo {
  width: 130px;
}

body {
  background-color: #555555;
}

.example-orbit img {
margin: 0 auto;
width: 60%;
}


.orbit-bg {
  background-color: black;
}
.pricing-table img {
  width: 20%;
}

.center-content {
  padding-top: 40px;
}

.footer {
  text-align: center;
  font-size: .7em;
  font-weight: bold;
}

